<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="{% url 'main:index' %}">Home</a>
    <a href="{% url 'login:logout' %}">Logout</a>

  <h1>{{current_trip.destination}}</h1>
  <ul>
    <li>
      Planned By: {{current_trip.created_by.name}}
    </li>
    <li>
      Description: {{current_trip.plan}}
    </li>
    <li>
      Travel Start Date: {{current_trip.start_date}}
    </li>
    <li>
      Travel End Date: {{current_trip.end_date}}
    </li>
  </ul>
<br>
<h1>Other Traveler's Joining this trip:</h1>
<ul>
  {% for traveler in other_travlers %}
  <li>
    {{traveler.name}}
  </li>
  {% endfor %}
</ul>

  </body>
</html>
